html {
font-size: 25px;
font-family: 'Handjet', cursive;
background-color: #4a6f28;
}

body {
width: 600px;
margin: 0 auto;
background-color: #5b8731;
padding:  0 20px 20px 20px;
border:  5px solid black;
}

h1{
margin: 0;
padding: 20px 0;
text-shadow: 3px 3px 1px gray;
font-size: 60px;
text-align: center;
}

h2{
margin: 0;
padding: 20px 0;
text-shadow: 3px 3px 1px gray;
font-size: 40px;
text-align: center;
}

p {
font-size: 20px;
text-shadow: 3px 3px 1px gray;
line-height: 2;
letter-spacing: 1px;
}

li {
font-size: 20px;
line-height: 1.5;
text-shadow: 3px 3px 1px gray;
letter-spacing: 1px;
}

img {
display: block;
width: 600px;
}
